ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) {
  /* setting up the transition when hovering the video above */
  /* move the controls up */
  /* remove some buttons from control that doesn't work */
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false])[show-player-controls] #overlay > ytd-reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false])[show-player-controls] #overlay > reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false]):has(ytd-reel-player-overlay-renderer:hover) #overlay > ytd-reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false]):has(ytd-reel-player-overlay-renderer:hover) #overlay > reel-player-header-renderer {
  margin-bottom: 63px;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false])[show-player-controls] .fluid_controls_container, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false]):has(ytd-reel-player-overlay-renderer:hover) .fluid_controls_container {
  opacity: 1 !important;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false])[show-player-controls] ytd-reel-player-overlay-renderer > div.metadata-container, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=false]):has(ytd-reel-player-overlay-renderer:hover) ytd-reel-player-overlay-renderer > div.metadata-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), transparent);
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=true]) #overlay > ytd-reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=true]) #overlay > reel-player-header-renderer {
  margin-bottom: 63px;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=true]) .fluid_controls_container {
  opacity: 1 !important;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#shorts-player[cfyts-controls-always-on=true]) ytd-reel-player-overlay-renderer > div.metadata-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), transparent);
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):not(ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true])[show-player-controls], ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(ytd-reel-player-overlay-renderer:hover)):has(#shorts-player[cfyts-hide-video-info=true]) #overlay > ytd-reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):not(ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true])[show-player-controls], ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(ytd-reel-player-overlay-renderer:hover)):has(#shorts-player[cfyts-hide-video-info=true]) #overlay > reel-player-header-renderer {
  opacity: 0;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #overlay {
  background-image: none;
  padding-right: 0;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #player-container #progress-bar {
  display: none !important;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #overlay > ytd-reel-player-header-renderer, ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #overlay > reel-player-header-renderer {
  transition: margin-bottom 0.5s ease-in-out, opacity 0.25s ease-in-out;
  margin-bottom: 0px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) ytd-reel-player-overlay-renderer div.metadata-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
  transition: background-image 0.5s ease-in-out;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) .fluid_controls_container {
  padding-bottom: 10px;
  /* youtube overlay has a black gradient at the bottom that kinda hide the player */
  /* so the background below will hel to see the controls a little better */
  background-color: rgba(0, 0, 0, 0.85) !important;
  z-index: 99 !important;
  opacity: 0 !important;
  visibility: visible !important;
  transition: opacity 0.5s ease-in-out;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) .fluid_control_fullscreen,
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) .fluid_control_mini_player,
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) .fluid_control_theatre {
  display: none !important;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #player-container #container .html5-video-container,
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) #player-container #container .html5-video-container .fluid_video_wrapper {
  width: 100% !important;
  height: 100% !important;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]):has(#watch-while-engagement-panel ytd-engagement-panel-section-list-renderer[visibility=ENGAGEMENT_PANEL_VISIBILITY_EXPANDED]) .fluid_slider {
  margin-right: 55px;
}
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled=true]) .fluid_context_menu {
  display: none !important;
}

ytd-reel-video-renderer:has(#shorts-player[CFYTS-player-enabled=false]) .fluid_controls_container {
  display: none !important;
}

/*# sourceMappingURL=content_script.css.map */
