// apply only when the extension is activated.
ytd-reel-video-renderer:has(#shorts-player[cfyts-player-enabled='true']) {
  // when hovering or pausing the video
  &:has(#shorts-player[cfyts-controls-always-on='false']) {
    &[show-player-controls],
    &:has(ytd-reel-player-overlay-renderer:hover) {
      // move info of the video up to give the controls a space
      #overlay > ytd-reel-player-header-renderer,
      #overlay > reel-player-header-renderer {
        margin-bottom: 63px;
      }

      // show controllers
      .fluid_controls_container {
        opacity: 1 !important;
      }

      ytd-reel-player-overlay-renderer > div.metadata-container {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), transparent);
      }
    }
  }

  &:has(#shorts-player[cfyts-controls-always-on='true']) {
    // move info of the video up to give the controls a space
    #overlay > ytd-reel-player-header-renderer,
    #overlay > reel-player-header-renderer {
      margin-bottom: 63px;
    }

    // show controllers
    .fluid_controls_container {
      opacity: 1 !important;
    }

    ytd-reel-player-overlay-renderer > div.metadata-container {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), transparent);
    }
  }

  &:not(
      &[show-player-controls],
      &:has(ytd-reel-player-overlay-renderer:hover)
    ) {
    &:has(#shorts-player[cfyts-hide-video-info='true']) {
      // move info of the video up to give the controls a space
      #overlay > ytd-reel-player-header-renderer,
      #overlay > reel-player-header-renderer {
        opacity: 0;
      }
    }
  }

  #overlay {
    // remove the overlay gradient that show on top of the controls.
    background-image: none;
    // fix space padding when opening comments.
    padding-right: 0;
  }

  // hide progress bar
  #player-container #progress-bar {
    display: none !important;
  }

  /* setting up the transition when hovering the video above */
  #overlay > ytd-reel-player-header-renderer,
  #overlay > reel-player-header-renderer {
    transition:
      margin-bottom 0.5s ease-in-out,
      opacity 0.25s ease-in-out;
    margin-bottom: 0px;
    // add the gradient that was removed from #overlay but now in a lower hierarch than the controls.
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
  }

  ytd-reel-player-overlay-renderer div.metadata-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
    transition: background-image 0.5s ease-in-out;
  }

  /* move the controls up */
  .fluid_controls_container {
    padding-bottom: 10px;
    /* youtube overlay has a black gradient at the bottom that kinda hide the player */
    /* so the background below will hel to see the controls a little better */
    background-color: rgba(0, 0, 0, 0.85) !important;
    z-index: 99 !important;
    opacity: 0 !important;
    visibility: visible !important;
    transition: opacity 0.5s ease-in-out;
  }

  /* remove some buttons from control that doesn't work */
  .fluid_control_fullscreen,
  .fluid_control_mini_player,
  .fluid_control_theatre {
    display: none !important;
  }

  // make controls adapt to size changes (such when you unzoom the page)
  #player-container #container .html5-video-container,
  #player-container #container .html5-video-container .fluid_video_wrapper {
    width: 100% !important;
    height: 100% !important;
  }

  &:has(
      #watch-while-engagement-panel
        ytd-engagement-panel-section-list-renderer[visibility='ENGAGEMENT_PANEL_VISIBILITY_EXPANDED']
    ) {
    // add margin to the progress bar when comments are open.
    .fluid_slider {
      margin-right: 55px;
    }
  }

  // hide default fluid player context menu
  .fluid_context_menu {
    display: none !important;
  }
}

// hide controls when the extension is deactivated.
ytd-reel-video-renderer:has(#shorts-player[CFYTS-player-enabled='false'])
  .fluid_controls_container {
  display: none !important;
}
