$player-height: 60px;
$animation-speed: 0.2s;
$player-background-transparency: 0.8;

// when "enabled" option is enabled.
ytd-shorts[cfyts-enabled='true'] {
  // setup overlay transitions
  ytd-reel-player-overlay-renderer .metadata-container {
    margin-bottom: 0px;
    transition:
      margin-bottom $animation-speed ease-in-out,
      opacity $animation-speed ease-in-out,
      border-radius $animation-speed ease-in-out;
  }

  #overlay {
    transition: opacity $animation-speed ease-in-out;
  }

  ytd-shorts-player-controls {
    opacity: 1;
    transition: opacity $animation-speed ease-in-out;
  }

  // hide default youtube scrubber.
  #scrubber {
    display: none;
  }

  &[cfyts-hide-default-controls='true'] {
    ytd-shorts-player-controls {
      opacity: 0 !important;
    }
  }

  // when "always visible" option is disabled.
  &[cfyts-always-visible='false'] {
    // on player hover
    &:has(.player-wrapper:hover) {
      // move overlay up
      ytd-reel-player-overlay-renderer .metadata-container {
        margin-bottom: $player-height;
        border-radius: 0px; // remove rounded bottom corners
      }

      // show controls
      .cfyts-player-controls {
        height: $player-height;
      }
    }

    // on video info hover
    &:has(reel-player-header-renderer:hover) {
      // move overlay up
      ytd-reel-player-overlay-renderer .metadata-container {
        margin-bottom: $player-height;
        border-radius: 0px; // remove rounded bottom corners
      }

      // show controls
      .cfyts-player-controls {
        height: $player-height;
      }
    }
  }

  // when "always visible" option is enabled.
  &[cfyts-always-visible='true'] {
    // move overlay up.
    ytd-reel-player-overlay-renderer .metadata-container {
      margin-bottom: $player-height;
      border-radius: 0px; // remove rounded bottom corners
    }

    // show controls.
    .cfyts-player-controls {
      height: $player-height;
    }
  }

  // when "hide video info" option is enabled.
  &[cfyts-hide-info='true'] {
    // hide video info by default.
    #overlay {
      opacity: 0;
    }

    // on player hover
    &:has(.player-wrapper:hover) {
      // show video info
      #overlay {
        opacity: 1;
      }
    }

    // on video info hover
    &:has(reel-player-header-renderer:hover) {
      // show video info
      #overlay {
        opacity: 1;
      }
    }
  }

  // when comments are opened.
  // channel logo can be over the progress bar.
  // so let's make the progress bar smaller to give it space for the channel logo.

  // when comments are opened.
  ytd-reel-video-renderer[is-active][is-watch-while-mode] {
    .cfyts-player-controls {
      .progress-bar-wrapper {
        padding-right: 16%;
      }
    }
  }
}

// when "enabled" option is disabled.
ytd-shorts[cfyts-enabled='false'] {
  // hide controls.
  .cfyts-player-controls {
    display: none;
  }
}

// setup controls look.
.cfyts-player-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 0;
  transition: height $animation-speed ease-in-out;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, $player-background-transparency);

  input[type='range'].slider {
    -webkit-appearance: none;
    background: white;
    appearance: none;
    border-radius: 20px;
    height: 3px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 13px;
      width: 13px;
      background: white;
      border-radius: 50%;
    }
  }

  .progress-bar {
    width: 100%;

    .progress-bar-wrapper {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .progress-bar input[type='range'] {
    &::-webkit-slider-thumb {
      height: 0px;
      width: 0px;
      transition:
        ease-in-out width 0.1s,
        ease-in-out height 0.1s;
      background: red;
    }

    &:hover::-webkit-slider-thumb {
      height: 13px;
      width: 13px;
    }
  }

  .control-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 10px;

    .play-button {
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.8;
    }

    .play-button:hover {
      opacity: 1;
    }

    .play-button[playing='true'] {
      .play-icon {
        display: none;
      }
    }

    .play-button[playing='false'] {
      .pause-icon {
        display: none;
      }
    }

    .volume-control {
      display: flex;
      align-items: center;
      padding-right: 5px;

      .mute-button {
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0.8;
      }

      .mute-button:hover {
        opacity: 1;
      }

      .mute-button[icon='high-volume'] {
        .low-volume-icon {
          display: none;
        }

        .muted-volume-icon {
          display: none;
        }
      }

      .mute-button[icon='low-volume'] {
        .high-volume-icon {
          display: none;
        }

        .muted-volume-icon {
          display: none;
        }
      }

      .mute-button[icon='muted'] {
        .high-volume-icon {
          display: none;
        }

        .low-volume-icon {
          display: none;
        }
      }

      .volume-slider {
        min-height: 18px;

        input {
          width: 80px;
        }
      }
    }

    .time-display {
      // font used by youtube.
      font-family: 'YouTube Noto', Roboto, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }
  }
}
